# Environments and Virtualenvs
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Sensitive files and keys
.env
*.pem
*.key

# Operating System files
.DS_Store
Thumbs.db
TASK.md
.v/
